.App {
  border: solid lime 1px;
}

.todoHeader {
  border: 1px solid red;
}
/* .cardComponent {
  border: 2px solid purple;
} */
.userInput {
  border: solid 5px orange;
}
.inputBox {
  border: solid 2px pink;
}

.submitWrapper {
  border: solid 3px blue;
}